ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:80
DB_CONNECTION_STRING=User Id=SEU_RM;Password=SUA_SENHA;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle.fiap.com.br)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;
